<a href="https://colab.research.google.com/github/mendis11/my-first-time-in-python/blob/main/Getting_Started.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
6-3

3

In [ ]:
x=5
print(x)

5

In [ ]:
print("Hello World") #this is a string

Hello World

In [ ]:
x=4
y=5
xy=((x**2)+(y-2)+x)
print(xy)

23

In [ ]:
x=5
y=4
print(x*y)

20

In [ ]:
type(True)

bool

In [ ]:
n=-3.56
type(n)

float

In [ ]:
n=23
type(n)

int

In [ ]:
fruits={'apple', 'banana', 'cherry', 'mango'}
fruits.add('strawberry')
print(fruits)
type(fruits)

{'apple', 'cherry', 'banana', 'mango', 'strawberry'}

set

In [ ]:
school={'student':'Mary', 'course':'SQL'}
type(school)
school.update({'Date':'August 2022'})
print(school)

{'student': 'Mary', 'course': 'SQL', 'Date': 'August 2022'}

In [ ]:
3**2

9

In [ ]:
3**9

19683

In [ ]:
colours={'red', 'green', 'yellow', 'blue'}
type(colours)

set

In [ ]:
fruits=('apple','mango','banana', 'cherry')
type(fruits)

tuple

In [ ]:
num=423
str(num)

423

In [ ]:
num=42.45
float(num)

42.45

In [ ]:
country_name ='UK'
city_name='London'
print(country_name)
len(city_name)

UK

6

In [ ]:
'welcome' + 'home'

'welcomehome'

In [ ]:
num='145'
int(num)

145

In [ ]:
print('their \'intention\' 5 \bth wasnt \tgreat')

their 'intention' 5 th wasnt 	great

In [ ]:
print('Hello')

Hello

In [ ]:
mystring1="Hello"
mystring1[1]
mystring1[0:4]

'Hell'

In [ ]:
mystring="Amsterdam"
mystring[::-1]

'madretsmA'

In [ ]:
str1='today is'
str2='beautiful'
print(str1+' '+str2)

today is beautiful

In [ ]:
str4='write this 4 times\n'
print(str4*4)

write this 4 times
write this 4 times
write this 4 times
write this 4 times

In [ ]:
str5='hEy this is a string'
str5.lower()

'hey this is a string'

In [ ]:
str5='hey this is a string'
str5.find('n')

18

In [ ]:
str='errpr'
str.replace('p','o')

'error'

In [ ]:
str7='hey this is a title'
str7.count('')

20

In [ ]:
str8='i bought{} kg of {} that cost me {} pounds'
product='apples'
weight=10
cost=20
print(str8.format(weight,product,cost))

i bought10 kg of apples that cost me 20 pounds

In [ ]:
str8='i bought {1} kg of {0} that cost me {2} pounds'
product='apples'
weight=10
cost=20
print(str8.format(product,weight,cost))

i bought 10 kg of apples that cost me 20 pounds

In [ ]:
str8='i bought {a} kg of {b} that cost me {c} pounds'
product='apples'
weight=10
cost=20
print(str8.format(b=product,a=weight,c=cost))

i bought 10 kg of apples that cost me 20 pounds

In [ ]:
'i bought %d kg of %s that cost me %d'%(10, 'apple', 20)

'i bought 10 kg of apple that cost me 20'

In [ ]:
5%3

2

In [ ]:
x=4
y=5
x>=y

False

In [ ]:
x=15
if x%2==0:
  print("this is an even number")
else:
    print("this is an odd number")

this is an odd number

In [ ]:
a,b =11,15
if a==b:
  print("the 2 numbers are equal")
elif a>b:
  print("the first number is greater than second")
else:
  print("the first number is smaller than second")

the first number is smaller than second

In [ ]:
a=0
b=5
if b<a:
  print("the number is less than zero")
else:
  print("the number is greater than zero")

the number is greater than zero

In [ ]:
x=3
if x==0:
  print("the value is equal to zero")
elif x>0:
  print("the number is positive")
else:
  print("the number is negative")

the number is positive

In [ ]:
for i in range(0,6):
  print("the iteration is {}".format(i))
print("the end")

the iteration is 0
the iteration is 1
the iteration is 2
the iteration is 3
the iteration is 4
the iteration is 5
the end

In [ ]:
a=0
while a<6:
  print(a)
  a+=1
print("the end!")

0
1
2
3
4
5
the end!

In [ ]:
targetv =5
iterate =2
while iterate <targetv:
  print("the iteration is {},which is less than target value{}".format(iterate, targetv))
  iterate=iterate+1
print("the end!")

the iteration is 2,which is less than target value5
the iteration is 3,which is less than target value5
the iteration is 4,which is less than target value5
the end!

In [ ]:
for i in range(1,6): #outer loop
  for j in range(1,11): #inner loop # this is nested loop
    print("{}*{}={}".format(i,j,i*j))

1*1=1
1*2=2
1*3=3
1*4=4
1*5=5
1*6=6
1*7=7
1*8=8
1*9=9
1*10=10
2*1=2
2*2=4
2*3=6
2*4=8
2*5=10
2*6=12
2*7=14
2*8=16
2*9=18
2*10=20
3*1=3
3*2=6
3*3=9
3*4=12
3*5=15
3*6=18
3*7=21
3*8=24
3*9=27
3*10=30
4*1=4
4*2=8
4*3=12
4*4=16
4*5=20
4*6=24
4*7=28
4*8=32
4*9=36
4*10=40
5*1=5
5*2=10
5*3=15
5*4=20
5*5=25
5*6=30
5*7=35
5*8=40
5*9=45
5*10=50

In [ ]:
colours= ["blue", "red", "yellow"]
cars= ["BMW", "Mercedes", "Audi"]
for colour in colours:
  for car in cars:
    print(colour, car)

blue BMW
blue Mercedes
blue Audi
red BMW
red Mercedes
red Audi
yellow BMW
yellow Mercedes
yellow Audi

In [ ]:
targetv=5
iterate=0
while iterate<targetv:
  print("Iteration number is {}, which is less than the target value {}".format(iterate,targetv))
  if iterate==3:
    print("condition met!")
    break
  iterate=iterate+1

Iteration number is 0, which is less than the target value 5
Iteration number is 1, which is less than the target value 5
Iteration number is 2, which is less than the target value 5
Iteration number is 3, which is less than the target value 5
condition met!

In [ ]:
targetv=5
iterate=0
while iterate<targetv:
  iterate=iterate+1
  if iterate==2:
    continue
  print("Iteration no is {}, which is less than the target value {}".format(iterate,targetv))

Iteration no is 1, which is less than the target value 5
Iteration no is 3, which is less than the target value 5
Iteration no is 4, which is less than the target value 5
Iteration no is 5, which is less than the target value 5

In [ ]:
name=["Mercy", "Pankaj", "Anis", "Chris"]
for name in name:
  if name=="Anis":
    continue
  print(name)

Mercy
Pankaj
Chris

In [ ]:
mylist=["Sam","Michael", "John"]
mylist[0]="Pankaj"
print(mylist)

['Pankaj', 'Michael', 'John']

In [ ]:
mylist[0:2]

['Pankaj', 'Michael']

In [ ]:
mylist=["Sam","Michael", "John"]
if "Michael" in mylist:
  print("Yes the name is present")

Yes the name is present

In [ ]:
mylist=["Sam","Michael", "John"]
mylist.insert(0,"Mercy")
print(mylist)

['Mercy', 'Sam', 'Michael', 'John']

In [ ]:
mylist.append('Claire')
print(mylist)

['Mercy', 'Sam', 'Michael', 'John', 'Claire', 'Claire', 'Claire']

In [ ]:
mylist1= ["Sam","Michael", "John"]
mylist2= ["Zara", "Alex"]
mylist1.extend(mylist2)
print(mylist1)

['Sam', 'Michael', 'John', 'Zara', 'Alex']

In [ ]:
mylist2.remove("Zara")
print(mylist2)

['Alex', 'Sam', 'Michael', 'John', 'Zara', 'Alex']

In [ ]:
mylist2.extend(mylist1)
print(mylist2)

['Zara', 'Alex', 'Sam', 'Michael', 'John', 'Zara', 'Alex']

In [ ]:
mylist3=["Sam","Michael", "John", "Sam"]
for name in mylist3:
  if name=="Sam":
    mylist3.remove("Sam")
print(mylist3)

['Michael', 'John']

In [ ]:
mylist4=["mer", "ani", "pan", "Bob", "shob", "chr", "Bob"]
mylist4.reverse()
print(mylist4)

['Bob', 'chr', 'shob', 'Bob', 'pan', 'ani', 'mer']

In [ ]:
while "Bob" in mylist4:
  mylist4.remove("Bob")
  print(mylist4)

['chr', 'shob', 'Bob', 'pan', 'ani', 'mer']
['chr', 'shob', 'pan', 'ani', 'mer']

In [ ]:
myteam =["manu", "liv", "ars", "che", "spurs"]
if "new" in myteam:
  print("Yes in my team") 
else: 
  myteam.append("new")
  print(myteam)

['manu', 'liv', 'ars', 'che', 'spurs', 'new']

In [ ]:
mylist4=["mer", "ani", "pan", "Bob", "shob", "chr", "Bob"]
mylist5=["ad", "no", "ve"]
mylist6=mylist4 + mylist5
print(mylist6)

['mer', 'ani', 'pan', 'Bob', 'shob', 'chr', 'Bob', 'ad', 'no', 've']

In [ ]:
InstrumentList = ["Trombone", "Piano", "Guitar"]
InstrumentGuess = input ('Please put an instrument: ')
print ("You Selected {}".format(InstrumentGuess))
if InstrumentGuess in InstrumentList:
  print("{} is already part of the list!".format(InstrumentGuess))
else: 
  print("{} is not in the list so will be added".format(InstrumentGuess))
  InstrumentList.append("{}".format(InstrumentGuess))
print (InstrumentList)

Please put an instrument: drums
You Selected drums
drums is not in the list so will be added
['Trombone', 'Piano', 'Guitar', 'drums']

In [ ]:
tech1=["Meta","Google","Tesla", "Snap"]
if "Pinterest" in tech1:
    print(tech1)
else:
    tech1.insert(4,"Pinterest")
    print(tech1)

['Meta', 'Google', 'Tesla', 'Snap', 'Pinterest']

In [ ]:
media=["Meta","Google","Tesla", "Snap"]
element=input("Please input tech co name")
if element in media:
  print("Tech company already exists")
else:
  media.append(element)
  print("The new list is:", media)

Please input tech co namegame
The new list is: ['Meta', 'Google', 'Tesla', 'Snap', 'game']

In [ ]:
companies=["Meta","Google","Tesla", "Snap"]
for item in companies:
  print(item)

Meta
Google
Tesla
Snap

In [ ]:
companies=["Meta","Google","Tesla", "Snap"]
for element in range(len(companies)):
  print(element, companies[element])

0 Meta
1 Google
2 Tesla
3 Snap

In [ ]:
a= [1, 2, 3, 4, 5, 6]
c=[]
for x in a:
  c.append(x*2)
print(c)

[2, 4, 6, 8, 10, 12]

In [ ]:
a= [1, 2, 3, 4, 5, 6]
b =[x**2 for x in a]
print(b)

[1, 4, 9, 16, 25, 36]

In [ ]:
str=[letter.upper() for letter in "Python"]
print(str)

['P', 'Y', 'T', 'H', 'O', 'N']

In [ ]:
mydict={"employee":"Zara", "Salary":5000}
mydict["department"]="Sales"
print(len(mydict))

3

In [ ]:
mydict={"employee":"Zara", "Salary":5000, "department":"Sales"}
if "department" in mydict:
  print("The Key exists")

The Key exists

In [ ]:
mydict={"employee":"Zara", "Salary":5000, "department":"Sales"}
mydict.update({"Salary":7000, "Grade":3})
print(mydict)

{'employee': 'Zara', 'Salary': 7000, 'department': 'Sales', 'Grade': 3}

In [ ]:
mydict={"employee":"Zara", "Salary":5000, "department":"Sales"}
del mydict["Salary"]
print(mydict)

{'employee': 'Zara', 'department': 'Sales'}

In [ ]:
mytuples=("Audi", "Ford", "Citroen", "Skoda")
mylist9=list(mytuples)
mylist9[2]="BMW"
mytuples=tuple(mylist9)
print(mytuples)

('Audi', 'Ford', 'BMW', 'Skoda')

In [ ]:
myset={"Apple", "Banana"}
print(len(myset))

2

In [1]:
print("YES!")

YES!